.canvas-container_zone {
  width: 70%;
  height: 750px;
  float: left;
  margin-right: 90px;
  .player-name_zone {
    width: 30%;
    float: right;
    .input-name_wheel {
      width: 80%;
      // height: 500px;
    }
    .canvas-container_zone {
      width: 700px;
      float: left;
    }
  }
}
